#body {
    width: 960px;
    margin: 0 auto;
    padding: 0;
}

table {
    border-collapse: collapse;
    /*border: 1px solid black;*/
    border-spacing: 0;
}

th, td.cell {
    width: 30px;
    height: 30px;
    text-align: center;
    white-space: nowrap;
    border: 1px solid black;
}

.row td {
    width: 30px !important;
    height: 30px !important;
    text-align: center !important;
    white-space: nowrap !important;
    border: 1px solid black !important;
}

th.empty {
    border: 0 !important;
}

td.empty {
    border: 0 !important;
}

.editor_1 {
    background-color: #efefef !important;
}

.editor_2 {
    background-color: #A4BED4 !important;
}

.editor_3 {
    background-color: #296 !important;
}

.hilight {
    background-color: #cecece !important;
}

.top-form {
    background-color: #eee !important;
}

.form-top {
    background-color: #efefef !important;
}

.form-left {
    background-color: #ccc !important;
}

td.disabled {
    background: #666666 !important;
}

th.row {
    /*width: 200px;*/
    min-width: 30px !important;
    text-align: left !important;
    padding-right: 5px !important;
}

th.rownum {
    padding: 0 10px 0 10px !important;
    background: #ceecce !important;
}

th.colnum{
    background: #ceecce !important;
}

th.col > div {
    position: relative !important;
    width: 30px !important;
    overflow-x: hidden !important;
    height: 100px !important;
    text-: center;
}

th.col div.rotate {
    -webkit-transform: rotate(-90deg) !important;
    -moz-transform: rotate(-90deg) !important;
    white-space: nowrap !important;
    position: absolute !important;
    left: 10px !important;
    bottom: 4px !important;
    font-weight: bold !important;
}

th.cols {
    background: #ceecce !important;
}

th.level-c-1 div.rotate {
    bottom: 40px !important;
}

.roof {
    position: relative !important;
}

#designer-container {
    position: absolute !important;
    border: solid 8px #EEE !important;
    -moz-box-shadow: inset 0 0 4px #000000 !important;
    -webkit-box-shadow: inset 0 0 4px #000000 !important;
    box-shadow: inset 0 0 4px #000000 !important;

    overflow: auto !important;
    top: 34px !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0px !important;
    background: #fff url('../images/proxy.gif') !important;
    z-index: 995 !important;
}

#flow-container {
    position: absolute !important;
    border: solid 8px #EEE !important;
    -moz-box-shadow: inset 0 0 4px #000000 !important;
    -webkit-box-shadow: inset 0 0 4px #000000 !important;
    box-shadow: inset 0 0 4px #000000 !important;
    background: #fff !important;
    overflow: hidden !important;
    top: 30px !important;
    left: 0 !important;
    right: 0px !important;
    bottom: 0px !important;
    z-index: 995 !important;
}

.form-type-th-0 {
    width: 40px !important;
    height: 40px !important;
    border: solid 1px #333 !important;
    padding: 4px !important;
    background: #ffffcc url('../images/sheeticon_th.png') center no-repeat !important;
    position: absolute !important;
    -moz-box-shadow: 0 0 2px #000000 !important;
    -webkit-box-shadow: 0 0 2px #000000 !important;
    box-shadow: 0 0 2px #000000 !important;
}

.form-type-th-1 {
    width: 40px !important;
    height: 40px !important;
    padding: 4px !important;
    background: #99ccff url('../images/houseicon_th.png') center no-repeat !important;
    position: absolute !important;
    border: solid 1px #333 !important;
    -moz-box-shadow: 0 0 2px #000000 !important;
    -webkit-box-shadow: 0 0 2px #000000 !important;
    box-shadow: 0 0 2px #000000 !important;
}

.form-type-0 {
    width: 80px !important;
    height: 80px !important;
    border: solid 1px #333 !important;
    padding: 10px !important;
    background: #ffffcc url('../images/sheeticon.png') center no-repeat !important;
    position: absolute !important;
    -moz-box-shadow: 0 0 4px #000000 !important;
    -webkit-box-shadow: 0 0 4px #000000 !important;
    box-shadow: 0 0 4px #000000 !important;
}

.form-type-1 {
    width: 80px !important;
    height: 80px !important;
    padding: 10px !important;
    background: #99ccff url('../images/houseicon.png') center no-repeat !important;
    position: absolute !important;
    border: solid 1px #333 !important;
    -moz-box-shadow: 0 0 4px #000000 !important;
    -webkit-box-shadow: 0 0 4px #000000 !important;
    box-shadow: 0 0 4px #000000 !important;
}

.type-r-1, .type-c-1 {
    background: #FFCC99
}

.level-r-0 {
    padding-left: 5px !important;
}

.level-r-1 {
    padding-left: 20px !important;
}

.level-r-2 {
    padding-left: 30px !important;
}

#project-info {
    position: absolute !important;
    right: 15px !important;
    top: 20px !important;
    border: 1px solid #666 !important;
    border-radius: 4px !important;
    background-color: #EFEFEF !important;
    padding: 10px !important;
    box-shadow: 0 0 5px rgba(81, 81, 81, 1) !important;
    -webkit-box-shadow: 0 0 5px rgba(81, 81, 81, 1) !important;
    -moz-box-shadow: 0 0 5px rgba(81, 81, 81, 1) !important;
}

#project-info label {
    display: block !important;
    padding: 2px !important;
}

#house-editor {
    position: relative !important;
    height: 283px !important;
    margin: 105px auto auto 130px !important;
    background: url(../images/house.png) 0 -330px transparent no-repeat !important;
}

#house-editor-top, #house-editor-left {
    position: absolute !important;
    cursor: pointer !important;
}

#house-editor-top.selected {
    background: url(../images/house.png) 0 0 transparent no-repeat !important;
}

#house-editor-left.selected {
    background: url(../images/house.png) 0 -133px transparent no-repeat !important;
}

#house-editor-top {
    width: 180px !important;
    height: 115px !important;
    top: -115px !important;
    left: 20px !important;
}

#house-editor-left {
    width: 120px !important;
    height: 180px !important;
    top: 10px !important;
    left: -110px !important;
    z-index: 10 !important;
}

#house-editor-forms {
    margin: 50px 20px !important;
    padding: 50px 10px !important;
    width: 240px !important;
}

#house-editor-forms label {
    display: block !important;
    padding: 4px !important;
}

.outer {
    border: 1px solid #000 !important;
    border-right: 0 #fff !important;
    border-bottom: 0 #fff !important;
}

.left {
    border: 0 #fff !important;
    border-left: 1px solid #000 !important;
}

.top {
    border: 0 #fff !important;
    border-top: 1px solid #000 !important;
}

.left2 {
    border: 0 #fff !important;
    border-top: 1px solid #000 !important;
}

.top2 {
    border: 0 #fff !important;
    border-left: 1px solid #000 !important;
}

.rotated {
    position: absolute !important;
    -webkit-transform: rotate(45deg) !important;
    -moz-transform: rotate(45deg) !important;
}

.rotated2 {
    position: absolute !important;
    -webkit-transform: rotate(-45deg) !important;
    -moz-transform: rotate(-45deg) !important;
}

.editor_panel {
    position: absolute !important;
    background: #FFF !important;
    border-left: solid 1px #ccc !important;
    border-right: solid 1px #ccc !important;
    border-bottom: solid 1px #ccc !important;
    -moz-border-radius-bottomleft: 4px !important;
    -moz-border-radius-bottomright: 4px !important;
    -webkit-border-bottom-right-radius: 4px !important;
    -webkit-border-bottom-left-radius: 4px !important;
    bottom: 0px !important;
    top: 0px !important;
    padding: 0 !important;
    margin: 0 auto !important;
    left: 0 !important;
    right: 0 !important;
    z-index: 998 !important;
}

.qfd-form {
    position: absolute !important;
    top: 30px !important;
    bottom: 10px !important;
    left: 10px !important;
    right: 10px !important;
    z-index: 9999999999 !important;
}

/*#project-list {*/
    /*display: none !important;*/
    /*position: absolute !important;*/
    /*background: #FFF !important;*/
    /*border-left: solid 1px #ccc !important;*/
    /*border-right: solid 1px #ccc !important;*/
    /*border-bottom: solid 1px #ccc !important;*/
    /*-moz-border-radius-bottomleft: 4px !important;*/
    /*-moz-border-radius-bottomright: 4px !important;*/
    /*-webkit-border-bottom-right-radius: 4px !important;*/
    /*-webkit-border-bottom-left-radius: 4px !important;*/
    /*bottom: 0px !important;*/
    /*top: 69px !important;*/
    /*padding: 0 !important;*/
    /*margin: 0 auto !important;*/
    /*left: 0 !important;*/
    /*right: 0 !important;*/
    /*z-index: 998 !important;*/
/*}*/


