.kwicks {
    /* recommended styles for kwicks ul container */
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
}

.kwicks li {
    /* these are required, but the values are up to you (must be pixel) */
    float: left;
    width: 120px;
    height: 100px;
    margin-right: 10px;
    -moz-box-shadow: 1px 1px 2px #000;
    border: solid 1px #666;
    cursor: pointer;

    /*do not change these */
    display: block;
    overflow: hidden;
    padding: 0; /* if you need padding, do so with an inner div (or implement your own box-model hack) */
}

.kwicks.horizontal li {
    /* This is optional and will be disregarded by the script.  However, it should be provided for non-JS enabled browsers. */
    margin-right: 5px; /*Set to same as spacing option. */
    float: left;
}

.kwicks.vertical  li {
    /* This is optional and will be disregarded by the script.  However, it should be provided for non-JS enabled browsers. */
    margin-bottom: 5px; /*Set to same as spacing option. */
}

#intro #kwick_1 {
    background-color: #53b388;
    background-image: url('../images/q.gif');
}

#intro #kwick_2 {
    background-color: #5a69a9;
    background-image: url('../images/f.gif');
}

#intro #kwick_3 {
    background-color: #c26468;
    background-image: url('../images/d.gif');
}

#intro #kwick_4 {
    background-color: #bf7cc7;
    background-image: url('../images/s.gif');
}

.kwicks.horizontal #kwick_4 {
    margin-right: 0; /* cancel margin on last kiwck (if you set a margin above) */
}

.kwicks.vertical #kwick_4 {
    margin-bottom: 0; /* cancel margin on last kiwck (if you set a margin above) */
}
