@font-face {
    font-family: "iconFont";
    font-style: normal;
    font-weight: normal;
    src: url('../iconfont/metroSysIcons.woff') format('woff'), url('../iconfont/metroSysIcons.ttf') format('truetype'), url('../iconfont/metroSysIcons.svg#metroSysIcons') format('svg');
}

.metrohead {
    height: 44px;
    background: #ffffff url('../images/tiltlebg.png') repeat-x;
    padding: 4px;
    line-height: 48px;
    color: #fff;
    text-align: right;
    z-index: -10
}

.apptitle {
    display: table-cell;
    padding: 0px 0px 0px 40px;
    float: left;
    height: 40px;
    line-height: 40px;
    /*font-weight: bolder;*/
    font-size: 20pt;
    text-align: left;
    color: #666;
    letter-spacing: 2px;
    /*text-shadow: 1px 1px #f4f4f4, -1px -1px #c5c5c5;*/
}

.tipblock {
    float: left;
    width: 10px;
    height: 160px;
    background-color: #ce1a00;
}

.userhead {
    float: left;
    width: 160px;
    height: 160px;
    background-image: url('../images/userhead.png');
    background-repeat: no-repeat;
    background-position: center;
}

.mlycontent {
    border: 1px solid #ccc;
    bottom: 0;
    left: 20px;
    overflow: auto;
    position: fixed;
    right: 0px;
    top: 48px;
}

#portal {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    overflow-y: auto;
}

.wintitle {
    color: #FFF;
    font-size: 14pt;
    font-weight: normal
}

.tabs-tool .l-btn-left, .tabs-tool a.l-btn {
    background-color: #FFF !important;
}

.datagrid-header-inner {
    border-top: 1px solid #DDD !important;
}

.tabs-tool {
    border-bottom: 1px !important;
    border-color: #999 !important;
    height: 25px!important;
}

.layout-split-north {
    border-bottom: 0px solid #FFFFFF;
!important;
}

.layout-split-south {
    border-top: 5px solid #789ee1 !important;
}

.layout-expand {
    background: #789ee1 !important;
}

.panel-title {
    font-size: 16px !important;
    font-weight: normal !important;
}
.panel-icon {
    height: 24px !important;
}

.listpanel span{
    font-size: 14px !important;
}

.listpanel a:hover{
    font-size: 14px !important;
    font-weight: normal;
    color: #3c5a99;
}