@charset "utf-8";
.dropdown {outline:none;display:inline-block;*display:inline;}
.dropdown h4{cursor:default; text-indent:5px; margin:0; padding:0;}
.dropdown * {-moz-user-select:none;}
.dropdown h4.over {}
.dropdown div {display:block; /*fix bug*/}
.dropdown ul{position:absolute;display:none;margin:0;padding:0;float:left;clear:both;}
.dropdown ul li{text-indent:5px;margin:0;padding:0;list-style:none;display:block;cursor:default;}
.dropdown ul li.over{}
.dropselectbox {display:inline;}
/* write you style here */
.dropselectbox {background:#DDD url(ui/selectbg.png) repeat-x left top;}
.dropdown h4{height:21px; font:12px/21px Arial, Helvetica, sans-serif; border:solid 1px #AAA;background:url(ui/droparrow.gif) no-repeat right center;}
.dropdown h4.over{border-color:#369; background-image:url(ui/droparrowover.gif);}
.dropdown h4.current{border-color:#003;}
.dropdown ul{border:1px solid #AAA; background:#FFF;}
.dropdown ul li{background:#FFF;height:19px;font:400 12px/19px Arial, Helvetica, sans-serif;}
.dropdown ul li.over{background:#369; color:#FFF;}


select{ width:auto}
.jslct {
	color:#666;
	font-family:Verdana;
	display:inline-block;
	*display:inline;
	zoom:1;
	font-size:12px;
	position:relative;
	line-height:12px;
	vertical-align:middle;
	cursor:default;
	border:1px solid #9a9a9a;
	background:url(ui/droparrow.gif) right center no-repeat;
	z-index:0;
}
.jslct_hover {
	border:1px solid #4682b4
}
.jslct div.jslct_t {
	padding:4px 25px 4px 4px;
	border-bottom:1px solid #fff;
	position:relative;
	z-index:2;
	*display:block!important;
	*display:inline;
	zoom:1;
}
.jslct em {
	font-style:normal;
	margin:0;
	padding:0;
	line-height:12px;
	display:block;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.jslct dl, .jslct dl dd {
	padding:0;
	margin:0;
	list-style:none
}
.jslct dl {
	background:#fff;
	position:absolute;
	top:20px;
	left:-1px;
	border:1px solid #9a9a9a;
	cursor:default;
	line-height:22px;
	padding:4px 4px 4px 4px;
	z-index:1;
	display:none;
}
.jslct_hover dl {
	border:1px solid #333!important
}
.jslct dl dd {
	padding:0px 4px 2px 4px;
	*padding:2px 4px 0 4px;
	border-top:1px dotted #ccc!important;
	border-top:1px dotted #efefef;
	white-space:nowrap;
	background:#fff;
	cursor:pointer;
	*border-left:1px solid #fff;
}
.jslct dl dd.hover {
	background:#4682b4;
	color:#fff;
}
.jslct .jslcted {
	background:#efefef;
}
.jslct dl dd.noborder {
	border:none!important
}



